img.picture {
    width: 180px;
    height: auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content: center;
}
.global {
    /* box-shadow: 0px 0px 4px #d3d3d3; */
    transition: 0.5s;
    text-align: center;
    padding: 20px;
    margin: 30px 0 0 0;
    max-width: 200px;
}
.global:hover {
    box-shadow: 0px 0px 5px 3px #d3d3d3;
    border-radius: 5px;
}


.chateauDomaine {
    font-weight: bold;
    font-size: 0.9rem;
}

.region {
    font-size: 0.8rem;
}

.appellation {
    font-size: 0.8rem;
}

.prixU {
    font-size: 150%;
    color: brown;
}
.annee {
    width: 50px;
    height: 1.5em;
}
.filtres {
    position: absolute;
    left: 100px;
    top: 370px;
}
.blanc {
    display: block;
}